
## Mainly sourced from https://www.nginx.com/resources/wiki/start/topics/examples/full/
daemon off;
worker_processes 5;
error_log logs/error.log;
worker_rlimit_nofile 8192;

events {
  worker_connections  4096;  ## Default: 1024
}

http {
    fastcgi_read_timeout 900;

    log_format upstreamlog '[$time_local] $remote_addr - $remote_user - $server_name to: $upstream_addr: $request upstream_response_time $upstream_response_time msec $msec request_time $request_time';
    client_max_body_size 10m;
    client_body_timeout 120s; # Default is 60, May need to be increased for very large uploads
    server {
        listen 80;
        server_name localhost;

        location /api/ {
            proxy_pass http://${MAC_HOST}:3000/api/;
        }

        location /socket.io/ {
            proxy_pass http://${MAC_HOST}:3000/socket.io/;
        }

        location / {
            proxy_pass http://${MAC_HOST}:8080/;
        }
    }
}
